node_modules/
.next/
out/
next-env.d.ts
*.tsbuildinfo

# local flow.js database
.flow/

# env
.env
.env.local
.env*.local

.DS_Store

# playwright
test-results/
playwright-report/

# local pnpm cache
.pnpm-store/
